[2018-02-17 18:13] mrcabellom opened #1 "Typo mistake"
In the BeatPulseKeys.cs file rename the variable name BEATPULSE_SELFT_SEGMENT by **BEATPULSE_SELF_SEGMENT**

[2018-02-19 18:16] unaizorrilla opened #2 "Add more information into IsHealthy"
IBeatPulseHealthCheck IsHealthy need to return status and informational messages.

[2018-02-19 18:23] unaizorrilla commented on #1
Solved on 4a3df57

[2018-02-19 18:23] #1 closed

[2018-02-19 20:24] unaizorrilla opened #3 "Oracle BeatPulse Health Check"
Add Oracle BeatPulse health chcker

[2018-02-19 20:25] unaizorrilla opened #4 "MySql health checker"
Add MySql BeatPulse health checker

[2018-02-19 20:25] unaizorrilla opened #5 "Add Azure Health Checker"
Add BeatPulse Azure Storage Health Checker

[2018-02-19 20:57] unaizorrilla commented on #3
System.Data.odbc preview is available for .NET Standard 2 libraries.

Install-Package System.Data.Odbc -Version 4.5.0-preview1-25914-04

[2018-02-26 20:11] unaizorrilla commented on #2
Done in 0.6

[2018-02-26 20:11] #2 closed

[2018-02-26 20:12] unaizorrilla opened #6 "Add options for caching beatpulse responses"
Add options on BeatPulseOptions for manage cache on beatpulse responses.

[2018-02-26 20:13] unaizorrilla opened #7 "Cancellation,timeout support"
Add support for cancellation and timeout on health paths execution

[2018-02-27 14:28] unaizorrilla commented on #7
Done on 0.7.0

[2018-02-27 14:28] #7 closed

[2018-03-06 09:31] #6 closed

[2018-03-06 09:32] eiximenis commented on #6
Done in 1.2.0

[2018-03-26 10:58] unaizorrilla commented on #5
Done by @lurumad  on https://github.com/Xabaril/BeatPulse/pull/8

[2018-03-26 10:58] #5 closed

[2018-03-26 22:28] lurumad commented on #4
Done in [#9](https://github.com/Xabaril/BeatPulse/pull/9)

[2018-03-26 22:37] #4 closed

[2018-03-30 13:11] CarlosLanderas opened #15 "Liveness packages separated versions"
Separate packages versions in dependencies props so users don't update Liveness packages that contain same bytes when main library increases version and viceversa.

[2018-03-30 19:40] Xabaril commented on #15
Yeap, each package need a specific version property on dependencies props file! Up for grabs!

[2018-03-30 19:44] CarlosLanderas commented on #15
I'll take it, starting packages versions with the current global version.

[2018-03-31 13:15] unaizorrilla commented on #15
Merged

[2018-03-31 13:15] #15 closed

[2018-04-05 07:23] ghost opened #17 "Liveness can't use other services"
At this moment, BeatPulseContext register all liveness to be executed as instances. If you need any other service in your liveness  ( a simple ILog<T> ) this can't be solved using the ASP.NET Core IServiceProvider.

[2018-04-05 07:27] Xabaril opened #18 "Stage "Degraded due to dependencies""
At this moment the global path return the state of all registered liveness and the _self liveness. If all liveness is ok the Stage is OK, if any liveness is down the Stage is "Service Unavailable". Can be a good idea to add a new stage "Degraded due to dependencies" if _self is ok and any othe liveness ( dependencies ) is down? If yes, what about the HTTP STATUS CODE is?

[2018-04-06 09:06] eiximenis opened #21 "Can't register two SqlServer liveness"
Trying to add two SqlServer liveness:

[code]

Generates an error complaining about the "sqlserver" path is already registered

[2018-04-06 09:08] eiximenis opened #22 "Can't register two Redis Liveness"
Trying to add two Redis liveness:

[code]

Throws an exception about the "redis" path is already registered

[2018-04-06 09:59] Xabaril commented on #21
Related with #22
The issue is present and this solve it, but at this moment you need to implement this feature in all liveness. Probably is good to review the design to move this behavior into the LivenessContext instead on all liveness

[2018-04-06 09:59] Xabaril commented on #22
Duplicated #21

[2018-04-06 09:59] #22 closed

[2018-04-06 13:49] eiximenis commented on #21
Ok.
I can provide a PR to solve the problem gradually. Only that will take a bit longer :)

[2018-04-07 19:29] unaizorrilla opened #25 "Well formated json output messages"
At this moment the json output is not using the CamelCaseNamesContractResolver, add this into json output messages. This change affect to BeatPulse-UI but now is on development, is good moment to do.

[2018-04-07 19:30] CarlosLanderas commented on #25
I'll take it as I have to make changes in the UI html binding.

[2018-04-07 19:32] unaizorrilla commented on #25
The UI is down on my branch due to the latest changes I perform. Please wait to my push and feel free.
Thanks Carlos!

[2018-04-25 12:44] Xabaril commented on #18
Commited

[2018-04-25 12:44] #18 closed

[2018-04-27 08:31] Xabaril opened #28 "Improve log messages"
Improve log messages on BeatPulse and UI, messages like "An error ocurrred while sending the request" is not friendly and with no value

[2018-04-27 08:44] Xabaril opened #29 "Improve UI experiences"
At this moment the UI show "Status" description and "OnStateFrom" and "LastExecution", read this information probably is not the good one. Showing information like "Status Up from 22 hours" like _docker ps_ do is better to read.

If the BeatPulse work with detailed information the UI can show the information of all related checkers. When the service is _degraded_  show what service is down.

[2018-04-27 09:10] Xabaril opened #30 "Refactor BeatPulseMiddleware to avoid complexibility"
BeatPulseMiddleware can be refactor to avoid the high level on cyclomatic complexibility.

[2018-04-28 17:27] hbiarge opened #31 "Consistency with EnableDetailedOutput"
First of all, congratulations for this amazing library!

Reviewing the code I can see that, by design, in the first unhealthy liveness result, the library stops processing the next registered liveness and returns a 503 response. I can understand the motivation if you don´t have the *options.EnableDetailedOutput* configuration enabled. But if this *options.EnableDetailedOutput* configuration is ena

[2018-04-28 20:32] Xabaril commented on #31
Hi @hbiarge

Well, the idea of BeatPulse is to be used as a liveness uri from k8s/swarm and similar. Most of these use the status code to restart the pod/container not the content of the response.

When the service is not available ( 503 ) BeatPulse return the first not running checker and break the task. Are you suggesting don't break the task and check all liveness?

[2018-04-29 07:11] hbiarge commented on #31
Yes, exactly that, but depending on the *options.EnableDetailedOutput* value.

My point is that the current behavior seems correct if you are not interested in the detailed information. The first failed checker break the Task and return a 503 so the orchestrator can kill the container and start another one.
But if you enable *options.EnableDetailedOutput* I would expect that all the checkers run a

[2018-04-29 09:51] Xabaril commented on #31
Sound ok for me, labeled as up for grabs!

[2018-04-29 09:53] Xabaril commented on #30
Merged by #32

[2018-04-29 09:53] #30 closed

[2018-04-29 10:20] Xabaril opened #33 "Create "Local" authentication filter"
Create a new authentication filter that only validate the request on the same local network.

[2018-04-30 10:12] #29 closed

[2018-04-30 15:03] Xabaril commented on #28
Commited

[2018-04-30 15:03] #28 closed

[2018-04-30 15:03] #25 closed

[2018-04-30 22:12] Xabaril commented on #33
Commited

[2018-04-30 22:12] #33 closed

[2018-04-30 22:13] Xabaril commented on #31
Commited, thanks @hbiarge for this suggestion!

[2018-04-30 22:13] #31 closed

[2018-04-30 22:22] Xabaril opened #36 "Improve BeatPulse UI experience"
Improve UI experiences:
 - Added support to view checkers for reach liveness
 - Added support to show the liveness status change history
 - Import UX

[2018-05-10 21:27] unaizorrilla commented on #21
Fixed on 3537ca9c5a9a7563c73911c25b9021883e7b252d

[2018-05-10 21:27] #21 closed

[2018-05-12 10:13] lfraile opened #42 "Add possiblity of use trackers/logs as Application Insights for metrics and historic info"
Add the possibility of using Application Insights or other APM to record liveness information events and metrics.

This would allow the possibility of having and history of liveness information, like which are unreliable services, as well as metrics for any *pulse* milliseconds ellapsed.

This should be added dynamically and support from zero to n trackers.

[2018-05-15 20:21] #17 closed, assigned to unaizorrilla, eiximenis

[2018-05-16 07:29] unaizorrilla commented on #42
Hi Luis,

Can you explain more "allow the possibility of having and history of liveness information". This tracker track de "service availability" or metrics like "liveness excution time" etc?

Unai

[2018-05-16 11:00] unaizorrilla opened #44 "Support company branding on BeatPulseUI"
All the web content on BeatPulseUI comes from resource files on BeatPulseUI assembly. With this approach is not posible to change anything on the UI.
Some companies need to rebranding BeatPulseUI to specify logos, fonts and other typical assets.

¿Is rebranding a interesting feature on BeatPulseUI?

[2018-05-16 11:34] lfraile commented on #42
Sure.

With the Application Insights Tracker, you can check whole history of all BeatPulse calls and it's result, making it so easy to have historical information of it, via Application Insights events information:
![image](https://user-images.githubusercontent.com/1047038/40114474-58984a6a-590d-11e8-9e48-837ae5648476.png)

Also, adding the milliseconds info taken from BeatPulse, and adding it to

[2018-05-16 12:56] unaizorrilla commented on #42
Hi @lfraile ,

Sounds good, waiting your PR!

[2018-05-18 13:40] lfraile opened #46 "VSTS Deployment Gate based on BeatPulse Liveness results"
VSTS has a mechanism on Release Management which allows to stop a Release until certain condition is met, these are [Deployment Gates](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/release/approvals/gates?view=vsts).

These conditions can be based on the results of the json from an API REST call, which is a little bit tedious to configure.

It would be interesting to cre

[2018-05-19 06:03] bgrainger opened #47 "Use MySqlConnector for async I/O"
The MySqlLiveness code [uses `OpenAsync`](https://github.com/Xabaril/BeatPulse/blob/2ef86ccfcad5fb9d713d70d9c42cced49e7b5a07/src/BeatPulse.MySql/MySqlLiveness.cs#L29), etc.. It's a long-standing bug in MySql.Data ([bug 70111](https://bugs.mysql.com/bug.php?id=70111)) that async I/O is not implemented correctly; thus this method will actually run synchronously. (See also [here](https://stackoverflo

[2018-05-19 08:32] unaizorrilla commented on #47
Hi @bgrainger a PR is welcome,

[2018-05-19 21:11] unaizorrilla commented on #42
Thanks for this PR, on master with 7140bd4880966f2d41b7dd5364fb4df8119357e1

[2018-05-19 21:11] #42 closed

[2018-05-19 21:14] unaizorrilla opened #48 "Add contributing guidelines md"
Add guidelines doc file for this project in order to simplify contributing into BeatPulse. Some points:
 - Howto use dependencies.props in each project
 - Howto Add new content or modify build.ps1
 - Add documentation
 - Add Samples
 - etc

[2018-05-20 10:42] unaizorrilla commented on #46
Hi @lfraile,

Let me some days to check this information and write a response on this issue. I like it!

[2018-05-21 13:49] #47 closed

[2018-05-21 14:10] bgrainger opened #51 "Opening a DB connection may not check for liveness"
If connection pooling is enabled (the default), then calling `DbConnection.OpenAsync` may simply return a pooled connection object, without making an actual network request to the DB server. This is [documented for SqlConnection](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-connection-pooling):

It's also the case for npgsql, as per https://github.com/npgsql/npgsql/comm

[2018-05-21 14:13] unaizorrilla commented on #51
Hi Brandley,

Thanks for fill this issue.  Labeled as "up for grabs" :-)

[2018-05-21 14:14] lurumad commented on #51
We should change all DB liveness to accomplish this?

[2018-05-21 14:18] bgrainger commented on #51
Reworded my suggestion (at the end) to be a little clearer; do you have a preference between options 1 and 2?

[2018-05-21 14:19] unaizorrilla commented on #51
Option 2/3 on my side!

[2018-05-21 14:20] lurumad commented on #51
Dummy query

[2018-05-24 16:03] stephenpope opened #52 "Protection level of BeatPulseFilter + BeatPulseMiddleware"
I am building an application (for sake of getting into pointless detail) I cant use the ` UseBeatPulse()` Webhost extension.

I was hoping to be able register the `IStartupFilter` / `BeatPulseFilter` myself but this is private/internal.

So I thought I would register the middleware `BeatPulseMiddleware` myself but this is also private/internal.

Is there a reason for this level of security on thes

[2018-05-24 16:26] unaizorrilla commented on #52
Hi  @stephenpope, this is not about "security", is about don't expose internal things. But, your are right, the BeatPulsePulseMiddleware should be public as asp.net usually does . In next version, probably tomorrow, I will make this change. Hope this help!

Thanks for fill this issue!!

Unai

[2018-05-24 17:05] unaizorrilla commented on #52
Fixed on #70de175d7b44b1c8b779de8913c3bac860ea6841 BeatPulseMiddleware is public from version 1.7.1

[2018-05-24 17:05] #52 closed

[2018-05-25 08:17] unaizorrilla opened #53 "Create tracker for Prometheus Stack"
[Prometheus](https://prometheus.io/)  is a powerfull monitoring and alert OSS platform solution. Like Application Insights Prometheus can store metrics in the TSD and this can be usefull in order to monitoring any solution.

Create a Tracker for Prometheus using the push model ( with prometheus gateway ) and send all the information from liveness result to Prometheus TSD.

[2018-05-25 08:21] unaizorrilla opened #54 "Versioning, BeatPulse, UI and liveness Packages..."
At this moment, each BeatPulse Liveness Package, BeatPulse, UI and trackers have specific version numbers for each package. As a matter of fact between BeatPulse, UI, liveness and trackers exist a strong relationship due the contract of LivenessResult.

The strategy we have now does not seem adequate because there is no way to know which version of UI is valid for a specific version of the BeatPul

[2018-05-25 09:28] stephenpope commented on #52
Thanks for the quick fix :D

[2018-05-25 09:29] unaizorrilla commented on #52
hope this help!

[2018-05-25 10:03] unaizorrilla commented on #51
Any update on this @bgrainger ??

[2018-05-25 20:43] eneunaber opened #55 "NuGet package BeatPulse.SqlServer (v1.4.0) breaks with package BeatPulse (v1.7.1)"
I was following the BeatPulse documentation and when I ran the application, it throws an error on this line

**Code**
`    services.AddBeatPulse(setup =>
    {
        //add sql server liveness
        setup.AddSqlServer("your-connection-string");
    });`

**Exception**
`System.MissingMethodException
  HResult=0x80131513
  Message=Method not found: 'BeatPulse.Core.BeatPulseContext BeatPulse.Core.

[2018-05-25 22:29] unaizorrilla commented on #55
Hi @eneunaber

Well on 1.7.X we perform a refactor with different features for registering liveness. In my mind, all liveness are updated with a new version but :-(
Right now **a new version for liveness package is on nuget, 1.7.0,  and this solve the problem, please confirm!**.
This history is related with #54 in order to set a improved versioning strategy..

Thanks for fill the issue

[2018-05-26 07:04] #55 closed

[2018-06-02 10:04] unaizorrilla commented on #53
Added #54198867b15d6909dfc7fee32cb1468ccec7e751

[2018-06-02 10:04] #53 closed

[2018-06-04 12:49] JoschaHemlep opened #60 "CORS"
Hi,

i'm getting the following error from my angular frontend:
Failed to load http://localhost:5000/hc: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:4200' is therefore not allowed access.

Even if i allow any origin
app.UseCors(builder => builder.
                        AllowAnyOrigin().
                        AllowAnyMethod().

[2018-06-04 13:19] CarlosLanderas commented on #60
Hello. I've seen this kind of problem earlier. Could you verify that the front end is sending the Origin header with the XHR request?. As you can see in the following link, the CORS middleware is checking for it:

https://github.com/aspnet/CORS/blob/5eae687ddd2f1a297b39a4099fa52e9280517a33/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsMiddleware.cs#L104-#L105

We had this issue in other Xabaril

[2018-06-04 14:18] JoschaHemlep commented on #60
Hi, thanks for the fast response!

I don't think so, i thought the 'Origin' header is only for POST requests? https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin

Even if add 'Origin'.. browser output:

- Refused to set unsafe header "Origin"
- Failed to load http://localhost:5000/hc: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhos

[2018-06-04 14:45] JoschaHemlep commented on #60
Not full, but most of it:

[code]

[2018-06-04 14:53] JoschaHemlep commented on #60
And yes, 'Origin' is there by default, request header:
HTTP_TRANSACTION_SEND_REQUEST_HEADERS
                    --> OPTIONS /health HTTP/1.1
                        Host: localhost:5000
                        Connection: keep-alive
                        Access-Control-Request-Method: GET
                        **Origin: http://localhost:4200**
                        User-Agent: Mozilla/5.0

[2018-06-04 20:33] unaizorrilla commented on #60
Hi @JoschaHemlep!!

BeatPulseFilter is a IStartupFilter that register a terminal middleware,  at this moment this middleware don't support CORS preflight.

The team is working on design a most simple solution to include CORS support on BeatPulse 1.X and improve this on 2.0.

[2018-06-04 20:48] JoschaHemlep commented on #60
@CarlosLanderas @unaizorrilla Ah, okay! Thanks 👍

[2018-06-05 10:54] CarlosLanderas commented on #60
Merged PR #61 should be fixed now. Check documentation.

[2018-06-05 10:55] unaizorrilla commented on #60
Hi,  PR #61 from @CarlosLanderas  is merged today, this add support for CORS on BeatPulse 1.X.

For 2.X BeatPulse need to improve this and other related scenarios with terminal middlewares.

 Please @JoschaHemlep  check version 1.7.2 on nuget ( at this moment is building and nuget take some time before public the packages) and close the issue if works well.

Thanks
Unai

[2018-06-05 12:06] JoschaHemlep commented on #60
@unaizorrilla Thanks! I'll give it a try

[2018-06-05 12:12] JoschaHemlep opened #62 "Dead link: nuget package description"
https://www.nuget.org/packages/BeatPulse/

"BeatPulse is a health check library for ASP.NET Core Applications.For more information see **http://github.com/Xabaril/CheckPulse**"

Wrong/Dead link

[2018-06-05 12:13] CarlosLanderas commented on #62
Thanks for reporting the wrong link. @unaizorrilla can you change it?

[2018-06-05 12:24] JoschaHemlep commented on #60
Works! 👍

[2018-06-05 12:24] #60 closed

[2018-06-05 12:38] unaizorrilla commented on #62
done on 1d59d93be26814e59b6186a79fe3d0f9f50c7642 commit.

[2018-06-05 12:38] #62 closed

[2018-06-08 13:27] rogerbramon opened #63 ".Net Framework support"
Hi,

We were about to implement a health check solution very similar to BeatPulse. However, we're not ready to migrate to .Net Core unfortunately. Do you think it's doable to add support to .Net Framework?

[2018-06-08 17:34] eiximenis commented on #63
Hi @rogerbramon

I think this should be doable because we are using netstandard. Which:

- versions of netfx are expected to be supported?
- asp.net frameworks? MVC? WebApi? Webforms?

[2018-06-08 22:28] CarlosLanderas commented on #36
New beatpulse experience will be released with BeatPulse 2.0.

[2018-06-08 22:28] #36 closed

[2018-06-12 10:45] sorcer1 opened #65 "An error occurred starting the application"
Hello,
I have this error when i run my web api :
`System.AggregateException: One or more errors occurred. (The DbContextOptions passed to the LivenessDb constructor must be a DbContextOptions<LivenessDb>. When registering multiple DbContext types make sure that the constructor for each context type has a DbContextOptions<TContext> parameter rather than a non-generic DbContextOptions parameter.) --

[2018-06-12 11:05] unaizorrilla commented on #65
Hi @sorcer1

Are you trying to enable UI in your Web API?
You need also UseBeatPulseUI in your Configure method.

Can you post your code on a gist in order to check? or sendus a copy, git uri etc..

[2018-06-12 11:50] sorcer1 commented on #65
Yes, i want to have UI in my Web API.

The UseBeatPulseUI is already in my Configure method.
The UI is shown but with an error : Could not retrieve liveness data

[2018-06-12 12:04] lurumad commented on #65
Hi @sorcer1 ,

Can you share with us your Startup.cs?

Regards!

[2018-06-12 12:05] unaizorrilla commented on #65
Hi @sorcer1

I create  a sample app with your scenario and is working, can you send me a repro of the problem?

[2018-06-12 12:11] sorcer1 commented on #65
[code]

[2018-06-12 12:17] sorcer1 commented on #65
More details about the error :

[code]

[2018-06-12 12:23] lurumad commented on #65
Hi @sorcer1

Yes, we have an issue in BeatPulse, because we haven't parametrized LivenessDb context constructor. So you are register another DbContext and the error is clear.

https://github.com/Xabaril/BeatPulse/blob/ca8d2b2c7c6e61a791515679bac4fef2f7d3dd0c/src/BeatPulse.UI/Core/Data/LivenessDb.cs#L15

[code]

Should be

[code]

We are going to fix it!

[2018-06-12 12:28] sorcer1 commented on #65
good

[2018-06-12 13:13] #63 closed

[2018-06-12 13:52] lurumad commented on #65
Fixed!

Version 2.1.1 BeatPulseUI.

[2018-06-12 13:52] #65 closed

[2018-06-12 14:13] unaizorrilla commented on #65
@sorcer1 Is working?

[2018-06-12 15:37] sorcer1 commented on #65
Yes it's working. Thanks

[2018-07-25 08:08] unaizorrilla commented on #54
Hi  @x2764tech

 Thanks for the link reference and for the comments, I know semver and is on the solution right know.

[2018-07-25 08:08] #54 closed

[2018-07-25 08:12] x2764tech commented on #54
You could also use a `Directory.Build.props` to keep them in sync (see https://www.thomaslevesque.com/2017/09/18/common-msbuild-properties-and-items-with-directory-build-props/ and https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build#directorybuildprops-and-directorybuildtargets)

[2018-07-25 08:13] unaizorrilla commented on #54
Hi @x2764tech

This project use Directory.Build.props from the scratch!

[2018-08-07 09:46] kevin93w opened #67 "Custom status code acceptance"
Hi there!

Currently in the process of implementing BeatPulse and using it for different kinds of external services. For one example we are using an API endpoint that isn't fully compliant with REST standards. Because of this it is either necessary to request using a custom header (which will return 200OK) and if the header is absent it will return another status code, not in 200-299 range.

Curre

[2018-08-07 15:47] unaizorrilla commented on #67
Merged  #68

[2018-08-07 15:48] unaizorrilla commented on #67
I need update version number and create a new tag, next day morning I can do it.

[2018-08-07 15:50] kevin93w commented on #67
Great man! Will test it as soon as you have published the changes.

[2018-08-08 07:35] CarlosLanderas commented on #67
@kevin93w, The Beatpulse release 2.1.2 has been created
Uris liveness supports now custom status code acceptance in version 2.1.1

[2018-08-08 11:17] kevin93w opened #69 "Endpoint for non-web applications to announce state"
Hi there!

**Question**
What is your view on supporting non-web applications (console apps) with BeatPulse?

**Situation**
I'm currently working on a new platform that consists of multiple micro services. Some of them are web apis, others are console applications. They are all running in Docker, and on top there is an extra monitoring application that contains the BeatPulse UI and fetches informat

[2018-08-08 11:48] CarlosLanderas commented on #69
Hello @kevin93w , This in our roadmap for version 3.0, but it will come after summer.
@eiximenis made a branch to start working on it having in mind to support aditional platforms.

[2018-08-08 18:37] #67 closed

[2018-08-10 07:33] #69 closed

[2018-08-10 07:33] unaizorrilla commented on #3
Close by @CarlosLanderas  on #70

[2018-08-10 07:33] #3 closed

[2018-08-24 20:15] unaizorrilla opened #73 "BeatPulse 3.0 Roadmap"
Hi guys,

BeatPulse 3.0 is starting with next features on the our roadmap.

- Decouple BeatPulse on ASP.NET Core in order to support multiple hosts.
    - Create new host for traditional ASP.NET MVC  and FullFx
- Remove HttpContext dependency on liveness when not necessary.
- Support different endpoints ( soap for legacy )
- Integrate BeatPulse.UI with K8S API

Ideas?

[2018-08-29 09:30] unaizorrilla commented on #73
Hi @karlmtc

Sounds good, thanks!

[2018-08-29 20:27] CarlosLanderas commented on #73
I like the idea @karlmtc, thanks for your contributions 👍

[2018-08-31 08:39] eiximenis commented on #73
Hi,
some other features that could be added to 3.0 (or backported to 2.x if time frame for 3.0 goes to long):

* ASP.NET MVC Core filters to disallow specific actions to be executed if some readiness test fail (I have some PoC on this that I could share soon).

[2018-09-01 10:47] CarlosLanderas commented on #73
As discussed with @eiximenis, to integrate kubernetes API with Beatpulse it would be interesting to follow next steps:

- Expose a non-configurable endpoint path in Beatpulse to discover registered livenesses paths. This endpoint should be securizable and desactivable, but path shouldn't be configurable so beatpulse UI can auto discover health checks on k8s cluster.

- Adding k8s client so it can

[2018-09-03 08:44] unaizorrilla commented on #73
Hi @eiximenis ,

Are you talk about Resource Filters like team use on Xabaril Feature Toogle project?

[2018-09-17 07:03] karlmtc opened #77 "Add endpoint restrictions to the documentation"
Hi there,

I was trying to publish beatpulse on IIS. Since I already gave it an application Url (/beatpulse-ui), I didn't need the host to also publish the app under /beatpulse-ui. I tried using string.empty but couldn't publish the app, so I looked into the code and I saw that a "/" was needed instead.

https://github.com/Xabaril/BeatPulse/blob/7fe5019a09d125bc5e1ba4482053ee673e902974/src/BeatPul

[2018-09-17 07:27] CarlosLanderas commented on #77
I'm gonna bind the string.empty to "/", as it make sense.  Thanks @karlmtc  ;)

[2018-09-17 07:38] karlmtc commented on #77
I'm looking into this and it seems that slash is also not allowed. I'm getting this error:
![image](https://user-images.githubusercontent.com/1260651/45610742-4f4d7000-ba5d-11e8-9d2d-dc0f7d5a29bd.png)

 It may be related to this issue: https://github.com/aspnet/HttpAbstractions/issues/683

[2018-09-19 06:43] karlmtc commented on #77
It seems that in order to map a route to '/', you need to just call Run (not Map).

https://docs.microsoft.com/es-es/aspnet/core/fundamentals/middleware/?view=aspnetcore-2.1#use-run-and-map

Does it make sense for you to allow a change on how the Urls are mapped?

[2018-10-29 09:07] ruant opened #79 "Liveness configuration from configuration file"
Would be very nice to be able to define liveness checks through the configuration.

[2018-11-08 23:47] poumup opened #80 "Add Elasticsearch Provider"

[2018-11-09 00:49] poumup commented on #80
how can i contribute ?
I had create branch but i can't push to remote branch

[2018-11-20 13:55] Necriis opened #83 "[BeatPulse-UI] Impossible to display data"
The UI can't display the data: `Could not retrieve liveness data`
The `/hc` query returns a valid response (200 OK)
[code]

But I have an error in the console: `beatpulse-bundle.js TypeError: "A.filter is not a function"`
It seems to refer to [BeatPulse/src/BeatPulse.UI/Client/components/LivenessPage.tsx line 54](https://github.com/Xabaril/BeatPulse/blob/7fe5019a09d125bc5e1ba4482053ee673e902974/sr

[2018-11-20 13:56] unaizorrilla commented on #83
Hi @Necriis

@CarlosLanderas could you follow this issue?

[2018-11-24 14:29] #80 closed

[2018-11-25 08:49] fleed opened #85 "UI behind reverse proxy"
I'm trying to publish the ui behind Nginx creating a specific subpath for the BeatPulse web application, but all the ui related resources cannot be loaded.
I'm trying to redirect from `https://myserver.com/monitor` to `http://localhost:{app-specific-port}`.

In the file `BeatPulse/src/BeatPulse.UI/Assets/index.html` I see some absolute paths:

- `/ui/resources/bootstrap-min.css`
- `/ui/resources/b

[2018-11-26 08:37] CarlosLanderas commented on #83
Hello @Necriis , I have been configuring a project and I am unable to reproduce this bug.

Although the call to the /hc segment is working, can you check if the xhr request that beatpulse UI is performing against the beatpulse-api endpoint is working correctly? Check it with F12 chrome tools and come back to me please.

Thank you

[2018-11-26 08:52] CarlosLanderas commented on #85
@fleed  you are right, all the resources are served in /ui/resources segment.

Appart from the redirection of /monitor to the beatpulse url, could you add a redirection to the resources segment?

`https://myserver.com/monitor/ui/resources`
 to
 `http://localhost:{app-specific-port}/ui/resources`

[2018-11-27 08:43] Necriis commented on #83
I tried again with a new asp dotnet core project, I added BeatPulse.SqlServer and BeatPulse.UI, setup with the example config from the project readme, and same issue again.
The xhr request that beatpulse UI is performing against the beatpulse-api is the one I posted in my first post, and is working properly...
I tried on Firefox, Vivaldi, even on Edge... no success

[2018-11-27 08:45] CarlosLanderas commented on #83
Thanks @Necriis, Let me test it further and I come back to you. 👍

[2018-11-27 09:49] Necriis commented on #83
The sample works fine, but I forgot to specify a point... my app is deployed in a linux docker container. It seems to be the only difference.

[2018-11-27 10:10] unaizorrilla commented on #83
Hi @Necriis

Can you check https://github.com/Xabaril/BeatPulse/blob/master/doc/ui-docker.md yo see how configure UI on Docker ?

[2018-11-27 11:00] Necriis commented on #83
Ok, starting from the sample (BeatPulseIntegratedUI):
I add the BeatPulse Nuget
[code]
I add detailedOutput
[code]
I configure the API path in Startup class
[code]
And add BeatPulse service
[code]
I run the app and the error is here.

[2018-11-28 08:52] P-edward opened #88 "How to use beatpulse in iis authentication"

[2018-11-28 18:55] GustavoFonsecaDeAlmeida commented on #44
Maybe its good to think about . If a company want to expose the BeatPulseUI to your client. Its good make the interface similar to others from this company . of course keeping the credit information in right place ( maybe footer idk )

[2018-11-29 07:06] #88 closed

[2018-11-30 08:18] Necriis commented on #83
@unaizorrilla I configured my project with the UI docker image and it works great. However, in this context, I have to configure manually each liveness.
With the NuGet version, I only configure the main BeatPulseApiPath in the UseBeatPulseUI extension method and let him _discover_ the livenesses.

[2018-12-03 19:38] unaizorrilla commented on #85
Hi

@fleed  can I close this issue?

[2018-12-06 19:02] CarlosLanderas commented on #83
@Necriis, other user suffered the same problem here:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/18

Make sure you are pointing to the health-ui endpoint

[2018-12-06 19:02] #83 closed

[2018-12-07 00:33] shanselman opened #90 "Incorrect NuGet Package"
You might want to remove this package or unlist it https://www.nuget.org/packages/BeatPulse.UI.dll/1.0.0/

[2018-12-07 00:44] CarlosLanderas commented on #90
Thanks for the warning @shanselman. That package is not ours. I think it might be from one of our latest contributors.

@GustavoFonsecaDeAlmeida based on the package owner name I think it might be yours. Could you unlist that package? It can be misleading for users

[2018-12-07 00:49] GustavoFonsecaDeAlmeida commented on #90
Sorry, I Will unlist. I make this to test some things. I forgot to delete.

[2018-12-07 00:50] GustavoFonsecaDeAlmeida commented on #90
@CarlosLanderas

[2018-12-07 00:51] GustavoFonsecaDeAlmeida commented on #90
![screenshot_20181206-224908](https://user-images.githubusercontent.com/34376408/49620753-72772400-f9a9-11e8-8934-a3d91dcda1a5.jpg)

[2018-12-07 00:55] GustavoFonsecaDeAlmeida commented on #90
Can use this to make a question?
The Last merge dont upload a new version to nugget?  The Last version at nuget is 3.0.1 @CarlosLanderas

[2018-12-07 01:00] GustavoFonsecaDeAlmeida commented on #85
You can use the Last fature at version 3.0.2. Use apiOptions properties to change.

[2018-12-07 03:05] fleed commented on #85
@GustavoFonsecaDeAlmeida is 3.0.2 released?

[2018-12-07 07:48] CarlosLanderas commented on #90
@GustavoFonsecaDeAlmeida we are having trouble with AppVeyor deploying to smbsrc.net due to a certificate expiration. You can follow it here:

https://github.com/NuGet/Home/issues/6082

Closing the issue :)

[2018-12-07 07:48] #90 closed

[2018-12-07 07:54] CarlosLanderas commented on #85
We are having trouble deploying NuGets with AppVeyor:

https://github.com/NuGet/Home/issues/6082

Im working on it. If we can't fix it we will deploy UI 3.0.2 manually.

[2018-12-07 17:30] pawlo21 opened #91 "Redis livepoint creates numerous connections to Redis"
I have added to my Startup following endpoints: (2.1.0 version)
[code]
[code]

[2018-12-07 17:35] unaizorrilla commented on #91
Can you checkout the code and verify if any issue is present in Redis aliveness?

[2018-12-07 17:39] unaizorrilla commented on #91
ConnectionMultiplexer is created on each liveness check. ConnectionMuktiplexer mus be single

[2018-12-07 17:45] pawlo21 commented on #91
In my application i have registered it as follows:

[code]
so I think is correct

[2018-12-07 17:45] cquillen opened #92 "Question: Can beatpulse be used with MVC 5 apps and full framework windows services?"
I realize this is intended for Core, but we are trying to implement the health check pattern for all our internal applications.  Most of these are written on full framework with MVC 5.  Some are just TopShelf based windows services and don't have a web server at all.

I'm looking around for libraries to help with this effort.  Would be be possible to use parts of this project such as the actual ch

[2018-12-07 17:59] unaizorrilla commented on #92
Nope, BeatPulse is only for asp.net core 2.1 and not future features are planned. Please read the readme.md.

[2018-12-07 17:59] #92 closed

[2018-12-07 18:02] unaizorrilla commented on #91
Is not your fault, the liveness create a Multiplexer on each request, let me some time to solve.
Just to curious, why are you using BeatPulse instead the new HealthChecks on 2.2 and all the liveness port to this new project??

[2018-12-07 18:07] cquillen commented on #92
This seems to indicate otherwise:

https://github.com/Xabaril/BeatPulse/issues/73

The comments suggest that the OWIN middleware is done.

[2018-12-07 18:08] pawlo21 commented on #91
Because I am still on 2.1, need some time to change! Thanks for the help.

[2018-12-07 18:19] unaizorrilla commented on #92
This is true, but after Microsoft announce HealthChecks for ASP.NET Core 2.2 the Xabaril team decide to port all liveness into this new abstractions and discontinue this project for future release, only 3.0 maintainement.

[2018-12-08 12:34] GustavoFonsecaDeAlmeida commented on #91
next week i will change my 3 project using old beatpulse to new. And start to help too..

[2018-12-08 12:48] unaizorrilla commented on #91
Ok thanks

[2018-12-08 20:08] CarlosLanderas commented on #85
BeatPulse UI 3.0.2 has been published to Nuget @fleed  @GustavoFonsecaDeAlmeida. If you can check it works properly I close the issue. Thanks

[2018-12-08 20:21] CarlosLanderas commented on #73
@unaizorrilla can the roadmap be closed as Beatpulse 3.0 was released?

[2018-12-08 20:52] karlmtc commented on #85
Could this also be related with #77?

[2018-12-08 21:06] CarlosLanderas commented on #85
In this case the issue was with the UI resources (js, css and static files). You have no problem using an empty path to register this kind of assets

[2018-12-09 09:38] fleed commented on #85
@CarlosLanderas I tested, but it didn't actually solve my use case.
I think that the problem is `Core/UIResourceMapper.cs` @ line 26.

I'm observing the following:

I'm browsing `http://localhost/monitor/beatpulse-ui` that it is translated by **nginx** to `http://localhost:19081/BeatPulseServiceFabricApp/BeatPulseApp/beatpulse-ui`.
So far so good, I can get the expected html page.

Inspecting the

[2018-12-09 11:20] unaizorrilla commented on #91
Hi @pawlo21
Pushed a new version of Redis Liveness, when the build finished a new 3.0.1 packages are uploaded into Nuget. Please review if this version fix these and close this issue.

thanks

[2018-12-09 18:15] CarlosLanderas commented on #85
@fleed  Are you configuring UseBeatPulseUI with the resources path set to /monitor?. That should not work behind nginx. Try configuring it to **empty string** so the resources are served from the root where you are served the html page.

[2018-12-10 21:55] GustavoFonsecaDeAlmeida opened #93 "Migrate to new aspnet core version."
Today i was make a plan to migrate to new version but a with out a authetication i cant do it. I Will stay using this version and making PR to implement new features to help me and others.. I Will work to make the Change in both projects.

My next steps :

- a way to configure a internal DB connection string ( BeatPulse ui) using appsettings or other way

- Plan a way to improve notification for e

[2018-12-11 20:14] fleed commented on #85
@CarlosLanderas it is successfully working, but I need the following nginx configuration entries:

[code]

My BeatPulseUI is configured like this:

[code]

avoiding any conflicts with other /ui assets.

Maybe I'm misconfiguring the system and someone can suggest a simpler configuration, but if that's the way to make it work in this context (nginx -> ServiceFabric -> BeatPulse), I consider it a lit

[2018-12-11 20:14] #85 closed

[2018-12-11 23:13] CarlosLanderas commented on #85
Thanks for the feedback @fleed  :)

[2018-12-17 13:19] wormst opened #95 "BeatPulse UI memory leak"
After adding a BeatPulse.UI and valid configuration, ASP.NET Core application started to fail due to Out of memory exception.

I have also made a simple test using a sample project from this repository and the result is the same. Memory used by the process continuosly grows in time.

[2018-12-17 13:35] wormst commented on #95
Yes, I'm using latest version (3.0.2).
Initial profiling with dotTrace pointed to UIApiEndpointMiddleware:
![image](https://user-images.githubusercontent.com/9641643/50090503-01393b80-0209-11e9-9301-879a5d074dac.png)

[2018-12-17 13:38] unaizorrilla commented on #95
Thanks I try to solve it ASAP!!!

[2018-12-19 19:18] hasansachdev commented on #63
what would be the .net framework equivalent of this?
[code]

[2018-12-20 15:40] unaizorrilla commented on #95
Hi @wormst

Checkout the code and perform some minor changes, I use dotmemory and I think is ok!, can you check 3.0.2 version of the UI and close this if issue is resolved?

[2018-12-21 09:18] wormst commented on #95
You've probably meant version 3.0.**3**, but I can't see it available. Could you verify that?
Thanks in advance.

[2018-12-21 09:36] unaizorrilla commented on #95
On NuGet right now 3.0.3 version

[2018-12-21 10:48] wormst commented on #95
It seems that the issue still appears. You can try adding more liveness to configuration (~10) so the result will be better visible.
Could you try running the project under Visual Studio and watch the Process Memory in Diagnostics Tools if it grows in time?

[2018-12-21 10:50] unaizorrilla commented on #95
I use dotmemory and for me all is ok, I collect different snapshots and the memory consumption is ok in my side, I try to add more liveness and share with you my collection screenshots

[2018-12-21 12:05] unaizorrilla commented on #95
Hi @wormst

I do a new review in the hosted service and change the http client creation. Probably the better option is to use IHttpClientFactory ( I do it on new project, AspNetCore.HealthChecks ) but I don't spend a lot of time improving this project when the new version is already done.

I also check in dotmemory and the project is between  5 MB and 7 MB .NET Memory for a long time, the unmanage

[2018-12-21 15:49] unaizorrilla commented on #95
Merged #99

[2018-12-27 07:58] fatagun opened #100 "Custom response"
Hello,

is it possible to customize end point response?

Currently I am registering sql server, redis and rabbitmq health checks. If all the health checks are OK, I would like to return something as following:

[code]

If one of the health checks fails, I would like to return a different message etc.

How can I do this?

[2018-12-27 09:15] unaizorrilla commented on #100
Hi @fatagun

In  new Asp.Net Core 2.2 HealthChecks you can customize the response and continue using this HealthChecks, please review:

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks

 With BeatPulse (mantained for 2.1 .net core) this is not an option.

[2018-12-27 11:16] fatagun commented on #100
Thanks.

[2018-12-27 11:16] #100 closed

[2018-12-27 20:38] szogun1987 commented on #95
I have created another PR https://github.com/Xabaril/BeatPulse/pull/101 it should fix memory leaks

[2019-01-13 22:07] svrooij commented on #46
@unaizorrilla some days later 😝

[2019-01-18 13:13] szogun1987 commented on #95
@wormst @unaizorrilla  this issue probably can be closed.

[2019-01-19 19:12] #95 closed

[2019-01-21 07:58] Burgyn opened #103 "BeatPulse UI show old state after degraded one of services"
Hi,
I have a oddly BeatPulseUI behavior in the production environment.

If one of the services gets degraded, BeatPulseUI displays the old status even after it is restored.

Have you met with that?
Thank you.

[2019-01-29 13:04] Burgyn opened #105 "BeatPulse.Redis has reference to unsuported StackExchange.Redis.StrongName package"
Package `BeatPulse.Redis` has reference to unsuported `StackExchange.Redis.StrongName` package.
From version **2.0.495** is only releasing `StackExchange.Redis`.

I can preprare a PR if you want.

[2019-02-21 10:15] opolsen opened #106 "Inconsistent log level used in liveness checkers"
The log level used in the `IsHealthy` method seems to be inconsistent across the various liveness checkers.

There might be some reasoning behind this, but if not then I think it would be preferable to decide on which log level to use and apply that to all the liveness checkers.

Some examples:
DynamoDb, NpgSql: Logs both success and exception as `debug`
Oracle: Logs success as `debug` and excepti

[2019-02-21 11:30] opolsen opened #107 "Liveness checkers logs connection string"
Some of the liveness checkers, such as SqlServer, MySql, NpgSql and other database checkers, log their connection string in the `IsHealthy` method.

This is a bit unfortunate, since it contains the password to the database, which is not always something you want in your logs.

It is possible to prevent this by changing the log level for the BeatPulse namespace in the application, but this can also

[2019-02-21 15:13] Bragalund commented on #107
Had to disable all logging from BeatPulse namespace because of this. Please fix.

[2019-02-22 09:08] unaizorrilla commented on #106
I try to work on this ASAP

[2019-02-26 19:00] syn-sanket-mistry opened #108 "Question : Call health check from code"
Is there any way we can call health check via controller ? e.g., calling some service from Api controller endpoint and returning result.

I want to be able to have health check available as a part of swagger api specification.

[2019-02-26 19:05] unaizorrilla commented on #108
BeatPulseService is public class and you can use it
https://github.com/Xabaril/BeatPulse/blob/master/src/BeatPulse/Core/BeatPulseService.cs

[2019-03-12 14:47] fr4nky80 opened #109 "GetAllLiveness not accessible when creating new BeatPulse for Akka"
I was creating a new pulse for akka.cluster but I don't have the GetAllLiveness method I need for the unit test.

I'm using the BeatPulse nuget package.

[2019-03-29 21:09] dungtm007 commented on #83
Hi @CarlosLanderas,
What do you mean by  pointing to the health-ui endpoint?

Default BeatPulse endpoint is "/hc"

Is that the thing I should do to config BeatPulseUI API Path?
` app.UseBeatPulseUI(apiOptions => {
                apiOptions.BeatPulseApiPath = "/hc";
            });`

[2019-04-12 09:49] waqaskhan540 opened #110 "Adding multiple liveness results in Exception, "More then one sequence found""
I have multiple environments and I am trying to place health checks for all of them through single BeatPulse.UI instance, below is my  **startup** configuration.

I have also placed a check that if only the given environment is meant to be checked for liveness then spin only the relevant services, otherwise add all the services for liveness.

I am also using 4 different appsettings.json files , on

[2019-04-15 08:02] waqaskhan540 commented on #110
turns out I was targeting the wrong appsettings.json file, after targeting the right one, I was able to fix  the issue.

[2019-04-24 13:17] mattdeckard commented on #105
Anyone? This is causing our project significant pain because we want to include the latest Redis packages but they conflict with `StackExchange.Redis.StrongName` so we're blocked from doing so as long as we're using BeatPulse.

[2019-04-24 13:21] unaizorrilla commented on #105
Hi @mattdeckard

I try to do that ASAP, but remember BeatPulse is only on maintenance, we ported all healthchecks for new ASP.NET Core HealthChecks infraestructura on our project

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/

I hope I can do this change today, thanks for comment!

[2019-05-19 06:22] fleed opened #111 "Disable loggins"
How can I disable logging?
After adding the library I have an unreadable console:
 
![Screenshot 2019-05-19 at 08 21 50](https://user-images.githubusercontent.com/2131800/57978493-2d065a80-7a0f-11e9-8f68-5dd353205c5f.png)

[2019-06-27 08:48] faniereynders opened #112 "Add deprecated status to this repo"
According to @CarlosLanderas this repo is deprecated. To prevent confusion, a suggestion would be to add documentation to explain depcrecation and/or add a deprecated status to this repo.

[2019-06-30 07:50] CarlosLanderas commented on #112
@faniereynders README in documentation already explains this. But I'm gonna make it more explicit.

@unaizorrilla could you edit project description to be [DEPRECATED] Description

[2019-06-30 07:53] CarlosLanderas commented on #112
@unaizorrilla if you consider so maybe you can also archive the project in settings zone to be read-only